.table-header {
    background-color: #CAF0F8;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #023e8a;
    height: 46px;
    padding: 0 35px;
}
